html {
    height: 100%;
  }
  
  body {
   margin: 0 auto;
      justify-items: center;
      align-items: center;
      text-align: center;

    background-size: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    background-color: #504e4f;
  }

  h1 {
      color:whitesmoke;
      font-size: 40px;
      font-weight: bold;
      color:#fc5001;
  }

  input{
      font-size:22px;
      color: whitesmoke;
      margin: 0 auto;
      text-align: center;
     
  }

  input[type=file]::file-selector-button {
    border: 2px solid #1e1e1f;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #fc5001;
    transition: 1s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #b63a00;
    border: 2px solid #1a1a1a;
  }

  .container{
      height:90%;
      width: 90%;
      margin: 0 auto;
      justify-items: center;
      align-items: center;
      text-align: center;
      
  }

  label{
    font-size:22px;
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
  }


  .upload-container{
    float:left;
      margin: 0 auto;
      width: 45%;
      height:45%;
      margin-top: 180px;
      border: 2px solid #a53e3e;
  }

  .files-container{
    float:left;
      margin: 0 auto;
      width: 45%;
      height:45%;
      margin-top: 180px;
      border: 2px solid #a53e3e;
  }


  .myButton {
    width:200px;
    margin-top:100px;
	background-color:#fc5001;
	border:1px solid #241d13;
    border-radius: 10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;
}

.checkbox-container{
    margin-top:100px;
    color: #fc5001;
}